* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.main_container {
    max-width: 1422px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    width: 270px;
}

.title {
    padding-left: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.top_menu {
    display: flex;
    width: 533px;
    flex-direction: column;
    align-items: center;
}

.menu_1_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_item,
.social_network_item {
    display: inline-block;
}

.menu_link {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: black;
}

.short_info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.short_text {
    height: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.short_title,
.strengths_title,
.price_block_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.short_description,
.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: black;
}

button {
    height: 65px;
    width: 332px;
    border-radius: 51px;
    background-color: lightpink;
}

.signup_button {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.main_picture {
    width: 40%;
}

.round {
    border-radius: 300px;
}

.achievements_school {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievements_school_items {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.achievements_school_item {
    display: flex;
    flex-direction: column;
}

.text_bold {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
}

.achievements_school_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: black;
}

.strengths {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.strengths_title {
    margin-bottom: 70px;
}

.strengths_item {
    background: url('../images/check_mark.svg') no-repeat 0 30px;
    padding-left: 100px;
    margin-bottom: 40px;
}

.text_bold_s {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    margin-bottom: 18px;
}